/* DEFAULT SITE STYLES */
body{
    margin:0;
    font-size:14px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:#333;
    background-color:#FFFFFD;
}    
header{
    display:block;
    position:fixed;
    width:100%;
    top:0;
    height:30px;
    background-color:#333;
    border-bottom:1px solid #000;
    color:#FFFFFD;
}
h1{
    margin:0;
    padding:0 10px;
    float:left;
    font-size:1.9em;
    line-height:30px;
    color:#ff0000;
    /* Text-Shadow effect based on jsFiddle http://jsfiddle.net/NeqCC/ */
    color:rgba(255,0,0,0.8);
    text-shadow: 1px 4px 6px #333, 0 0 0 #000, 1px 4px 6px #333;
}
/* Prevent Text-Shadow effect on select based on jsFiddle http://jsfiddle.net/NeqCC/ */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
ul{
    list-style-type:none;
}



/* DEFAULT VIEW */
header nav ul{
    float:right;
    margin:0;
}
nav ul li{
    float:left;
}
header nav ul li a{
    color:#FFFFFD;
    display:block;
    line-height:16px;
    padding:11px 15px 1px 15px;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:1px;
}
header nav ul li a:hover{background-color:#000;}
header nav ul li .active{border-bottom:2px solid #ff0000;}
body>div{
    margin:30px 0 0 0;
}
body>div>#game-panel{
    background-color:#333;
    background-color:rgba(51, 51, 51, .95);
}
body>div>#game-panel>section{
    border:1px solid #000;
    min-height:290px;
    min-height:788px;
}
#game-panel ul{
    list-style-type:none;
    margin:0;
    height:28px;  
    padding:10px 0 0;
}
#game-panel ul li{float:right; margin-left:1px;}
#game-panel ul li a{
    display:block;
    color:#fff;
    color:rgba(255,255,255,.8);
    padding:5px;
    text-decoration:none;
    border:1px solid #333;
    background-color:#333;
    background-color:rgba(51,51,51,1);
}
#game-panel ul li.active{background-color:#fff;}
#game-panel ul li.active a{
    color:#fff;
    color:rgba(255,255,255,1);
    font-weight:bold;
    border-bottom:none;
    background-color:#333;
    background-color:rgba(51, 51, 51, .95);
    border-top:1px solid #222;
    border-left:1px solid #222;
}
#game-panel>section>div{
    border-top:1px solid #222;
    color:#FFFFFD;
}
#game-panel>section>div>h2{
    margin:5px 10px;
}


/* Start hidden canvas overflow with scroll */
body>div>#game-map{
   overflow:scroll;
   min-height:290px;
    min-height:788px;
}
body>div>#game-map>section{
    position:relative;
}
.canvas{
   /* border:1px solid #000;*/
    position:absolute;
    z-index:-100;
}
.canvas.terrain{
    background-color:#333;
    background-color:rgba(51, 51, 51, .95);
}
/* End hidden canvas overflow with scroll */

/* Start Grid Layout 
   Grid Layout based on http://css-tricks.com/dont-overthink-it-grids
*/
div[class^='col-']{float:left;}
div.col-1-5{width:20%;}
div.col-2-5{width:40%;}
div.col-3-5{width:60%;}
div.col-4-5{width:80%;}
div.col-5-5{width:100%;}
div.grid:after{
    content:"";
    display:table;
    clear:both;
}

/* End grid layout */
footer{
    display:block;
    width:100%;
}
footer nav ul{
    margin:0 auto;
    width:500px;
}

footer nav ul li:last-child:after,
footer nav ul li:before{
    content:"\2022";
    color:#ff0000;
}
footer nav ul li a{
    display:inline-block;
    padding:10px 15px;
    color:#333;
}

/* FRAMEWORK STYLES */
.menu-toggle{display:none;}

/* RESPONSIVE VIEWS */
@media (max-width:768px){
    .menu-toggle{
        display:block;
    }
    ul[aria-labelledby="main-menu"],
    footer{
        display:none;
    }   
    
    /* Turn off the grid when too small */
    div[class^='col-']{float:none;}
    div.col-1-5{width:auto;}
    div.col-4-5{width:auto;}
    
    #game-panel{display:none;}
   
}