/* CSS for main menu when page is small enough to be a widget */
@media (max-width:768px){
    .menu-toggle{
        float:right;
    }
    
    .main-menu ul{
       /* display:block;*/
        width:100%;
        background-color:rgba(51,51,51,1);
    }
    
    .main-menu ul li{
        clear:both;
        width:100%;
    }
    
    .main-menu ul li .active{
        border:none;
        color:#FF0000;
        font-weight:bold;
    }
    
   .main-menu ul a{
       display:block;
       padding:16px 32px;
   }
}