body{
    font-family:Arial,Helvetica,sans-serif;   
    margin:0;
    color:#333;
    background-color:GhostWhite;
}
h1,h2,h3,h4,h5,h6{margin:0;}
header{
    padding:20px;
    background-color:brown;
    color:GhostWhite;
    border-bottom:1px solid #333;
    text-shadow:1px 1px #333;
}
header p{
    margin:-5px 0 0 25px; 
    font-size:1.1em;
    font-style:italic;
    font-weight:bold;
}
section{
    padding:10px;
}
section h2 a{
    color:#333;
    text-decoration:none;
}
section h2 a:hover{text-decoration:underline;}
ul{list-style-type:square;  font-weight:normal;}
ol{list-style-type:lower-alpha; font-weight:bold;}
.demo-link-styled{
    color:green;
    font-weight:bold;
    font-size:2em;
}
