/* CSS for Widget Example */
body{
    margin:0;
    font-size:16px;
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    width:100%;
    position:fixed;
    background-color:#333;
    color:#fff;
    
}
h1{
    margin:5px 0px 5px 20px;
    font-family:Georgia, serif;
    float:left;
}
header nav{
    float:right;
    
    margin-top:10px;
}
header ul{
    list-style-type:none;
    margin:0;
    padding:0;
    
}
header li{
    float:left;
}
header li:nth-child(1n+2):before{
    content:"|";
    line-height:26px;
    color:red;
    float:left;
   
}
header a{
    display:block;
    padding:5px 10px;
    color:#fff;
    text-decoration:none;
}
.menu-toggle{
    display:none;
}
#content{
    padding:40px 20px;
}

@media all and (max-width:767px){
    .menu-toggle{
        display:block;
        text-align:right;
    }
    
    header nav,
    header li{
        float:none;
    }
    header li:nth-child(1n+2):before{content:"";}
    header ul{
        overflow:hidden;
        width:100%;
    }
    header li a{
        width:100%;
        padding:16px 32px;
        font-size:1.2em;
    }
}