body{
    font-family:Arial,Helvetica,sans-serif;   
    margin:0;
}
h1,h2,h3,h4,h5,h6{margin:0;}
section{margin:10px;}
section>div,
section>p{
    margin:10px;
}
/* Everything above this comment is just to make the page pretty */

/* Overriding inline/block */
p.inline{display:inline;}
span.block{display:block;}


/* Position */
.position{/* this class is just to give us equal boxes */
    width:100px; height:100px;
    border:1px solid black;
}
.absolute{position:absolute;}
.fixed{position:fixed; left:122px;}
.relative{position:relative; left:204px;}
.static{position:static; margin-left:306px; margin-top:-102px;}


/* Float */
img.make-float{float:righright;}

.horizontal-list{list-style-type:none; height:25px;}
.horizontal-list li{float:left;}
.horizontal-list li:nth-child(1n +2):before{
    content:"*";
    color:red;
    padding:10px;
}


/* Box Model */
.parent{
    border:2px solid red;
}
.child{
   margin:20px;/* outside blue border inside parent's red*/
    border:2px solid blue;
    padding:20px;/* inside blue border */
}

/* Centering */
.center{
    width:200px;
    background-color:green;
    margin-left:auto;
    margin-right:auto;
}




/* 4 Column Horizontal Grid */
.grid:after{
    content:"";
    clear:both;
    display:table;
}
*[class^="col-"]{
    float:left;
}
.col-1-4{width:25%;}
.col-2-4{width:50%;}
.col-3-4{width:75%;}
.col-4-4{width:100%;}
        /* just to show colors on the grid not part of it */
        .grid>div{height:100px;}
        .grid>div:nth-child(even){background-color:blue;}
        .grid>div:nth-child(odd){background-color:red;}




/* Responsive design with media queries */
@media all and (max-width:767px){
    *[class^="col-"]{
       clear:both;
       width:100%;
    }
}

